**Q1. Which Month?**

**Problem Description**

Write a program to input an integer(A) from user and print the Ath month of the year.

Months list: **{January, February, March, April, May, June, July, August, September, October, November, December}**


**Problem Constraints**

1 <= A <= 12


**Input Format**

One line containing an integer integer A.


**Output Format**

One line containing the Ath month of the year.


**Example Input**

Input 1:

1

Input 2:

6


**Example Output**

Output 1:

January

Output 1:

June


**Example Explanation**

Explanation 1:

Clearly, January is the 1st month.

Explanation 2:

Clearly, June is the 6th month.

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

    A = int(input())

    print(month[A-1])

    return 0

if __name__ == '__main__':
    main()

10
October

**Q2. Days In Month**

**Problem Description**

You are given an integer A.

You have to tell how many days are there in the month denoted by A in a non-leap year.

Months are denoted as follows:

January : 1

February : 2

March : 3

April : 4

May : 5

June : 6

July : 7

August : 8

September : 9

October : 10

November : 11

December : 12


**Problem Constraints**

1 <= A <= 12


**Input Format**

The input contains a single integer A.


**Output Format**

Print a single integer denoting the number of days on a single line.


**Example Input**

Input 1:

 1

Input 2:

 11 


**Example Output**

Output 1:

 31 

Output 2:

 30 


**Example Explanation**

Explanation 1:

 Number of days in January(1) in a non-leap year = 31.
 
Explanation 2:

 Number of days in November(11) in a non-leap year = 30.

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    A = int(input())

    if A in [1, 3, 5, 7, 8, 10, 12]:
        print(31)
    elif A in [2]:
        print(28)
    else:
        print(30)

    return 0

if __name__ == '__main__':
    main()

10
31

**Q3. Percentage and Grade**

**Problem Description:**

Write a program to calculate the percentage and grades according to the percentage of a student. Five numbers(A, B, C, D & E) represent the marks of a student in 5 subjects which are out of 100. Print the percentage and the grade of the student.

If percentage >= 90% : Grade A

If percentage >= 80% but < 90 : Grade B

If percentage >= 70% but < 80: Grade C

If percentage >= 60% but < 70: Grade D

If percentage >= 40% but < 60: Grade E

If percentage < 40%: Grade F

**NOTE:** You have to take the lowest integer of the percentage. **E.g. 90.8% will be treated as 90%.**

**Input Format:**

There will be five lines of inputs as following:

The five lines contain the 5 subject marks of the student in numerical format.

**Output Format:**

The first line indicates the percentage in integer format.  

The next line displays the grade in string format.

Sample Input:

50   
60   
70   
80   
90

Sample Output:

70   
C

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    l = list(map(int, input().split()))

    l1 = l[0]
    l2 = l[1]
    l3 = l[2]
    l4 = l[3]
    l5 = l[4]

    grade = ((l1+l2+l3+l4+l5)//5)
    print(grade)

    if grade >= 90:       
        print('A')

    elif grade >= 80:
        print('B')

    elif grade >= 70:
        print('C')

    elif grade >= 60:
        print('D')

    elif grade >= 40:
        print('E')

    else:
        print('F')


    return 0

if __name__ == '__main__':
    main()

80 85 90 95 100
90
A

**Q4. From top to down**

**Problem Description**

Write a program to print all Natural numbers from 1 to N where you have to take N as input from user


**Problem Constraints**

1 <= N <= 10000000


**Input Format**

A single line representing N


**Output Format**

N space separated integers from 1 to N.


**Example Input**

Input 1:

5

Input 2:

10


**Example Output**

Output 1:

1 2 3 4 5 

Output 2:

1 2 3 4 5 6 7 8 9 10

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N = int(input())

    for i in range(1, N+1):
        print(i, end = ' ')

    return 0

if __name__ == '__main__':
    main()

10
1 2 3 4 5 6 7 8 9 10

**Q5. From down to top**

**Problem Description**

Write a program to print all Natural numbers from N to 1 where you have to take N as input from user


**Problem Constraints**

1 <= N <= 10000000


**Input Format**

A single line representing N


**Output Format**

N space separated integers from N to 1.


**Example Input**

Input 1:

5

Input 2:

10


**Example Output**

Output 1:

5 4 3 2 1

Output 2:

10 9 8 7 6 5 4 3 2 1

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N = int(input())

    while N != 0:
        print(N, end = ' ')
        N = N - 1

    return 0

if __name__ == '__main__':
    main()

10
10 9 8 7 6 5 4 3 2 1

**Q6. Sum of evens!**

**Problem Description**

You are given an integer A, you need to find and return the sum of all the even numbers between 1 and A.

Even numbers are those numbers that are divisible by 2.


**Problem Constraints**

1 <= N <= 500


**Input Format**

First and only argument is an integer A.


**Output Format**

Return an integer denoting the sum of even numbers between [1, A] (both inclusive).


**Example Input**

Input 1:

 5

Input 2:

 2


**Example Output**

Output 1:

 6

Output 2:

 2


**Example Explanation**

Explanation 1:

 Even numbers between [1, 5] are (2, 4).
 
Explanation 2:

 Even numbers between [1, 2] are (2)

In [ ]:
# Solution-1

class Solution:
  # param A : integer
  # return an integer
  def solve(self, A):
    total = 0
    for i in range(1, A+1):
        if i%2 == 0:
          total = total + i

    return total

X = Solution()

print(X.solve(34))

306

Note we can make the solution independent of loops using the following method:

Sum of Even numbers upto 10 :

    = 2 + 4 + 6 + 8 + 10
    = 2 * (1 + 2 + 3 + 4 + 5) -> Sum of first n natural numbers
    = 2 * (5*(5+1)/2)
    = 5 * 6
    = 30

In [ ]:
# Solution-2

class Solution:
  # param A : integer
  # return an integer
  def solve(self, A):

    return 2 * ((A//2) * ((A//2)+1))//2

X = Solution()

print(X.solve(34))

306

**Q7. Sum of Odds**

**Problem Description**

You are given a positive integer A. You have to print the sum of all odd numbers in the range [1, A].


**Problem Constraints**

1 <= A <= 1000


**Input Format**

First and only line contains a single positive integer A.


**Output Format**

Print the required sum in a single line.


**Example Input**

Input 1:

 1

Input 2:

 4 


**Example Output**

Output 1:

 1 

Output 2:

 4 


**Example Explanation**

Explanation 1:

 For A = 1, 1 is the only odd number which lies in the range [1, 1].

Explanation 2:

 For A = 4, Odd numbers 1 and 3 lie in the range [1, 4]. 
 
 Sum = 1 + 3 = 4.

In [ ]:
# Solution-1

class Solution:
  # param A : integer
  # return an integer
  def solve(self, A):
    total = 0
    for i in range(1, A+1):
        if i%2 == 1:
          total = total + i

    return total

X = Solution()

print(X.solve(34))

289

**Note:** Sum of Odd Numbers upto 10 = Sum of all numbers upto 10 - Sum of all even numbers upto 10

In [ ]:
# Solution-2

class Solution:
  # param A : integer
  # return an integer
  def solve(self, A):

    return (A*(A+1)//2) - 2*((A//2)*((A//2)+1))//2

X = Solution()

print(X.solve(34))

289

**Q8. Angles Of Valid Triangle?**

**Problem Description**

You are given 3 integer angles(in degrees) A, B and C of a triangle. You have to tell whether the triangle is valid or not.

A triangle is valid if sum of its angles equals to 180.


**Problem Constraints**

1 <= A, B, C <= 180


**Input Format**

First line of the input contains an integer A.

Second line of the input contains an integer B.

Third line of the input contains an integer C.


**Output Format**

Print 1 if the triangle having given sides is valid, else print 0.


**Example Input**

Input 1:

 60
 60
 60

Input 2:

 30
 40
 50

**Example Output**

Output 1:

 1 

Output 2:

 0 

**Example Explanation**

Explanation 1:

 Sum of angles = A + B + C = 60 + 60 + 60 = 180
 Hence, the given triangle is valid.
 
Explanation 2:

 Sum of angles = A + B + C = 30 + 40 + 50 = 120
 As sum of angles is not equal to 180, the given triangle is not valid.

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    A = int(input())
    B = int(input())
    C = int(input())

    if (A + B + C) == 180:
        print(1)
    else:
        print(0)

    return 0

if __name__ == '__main__':
    main()

50
60
70
1

**Q9. Divisible by 2 numbers**

**Problem Description**

You are given an integer A. You have to tell whether A is divible by both 5 and 11 or not.

**Problem Constraints**

1 <= A <= 109

**Input Format**

The input contains a single integer A.

**Output Format**

Print 1 if A is divisible by both 5 and 11, else print 0.

**Example Input**

Input 1:

 55 

Input 2:

 22 

**Example Output**

Output 1:

 1 

Output 2:

 0 

**Example Explanation**

Explanation 1:

 55 is divisible by both 5 (5 * 11 = 55) and 11 (11 * 5 = 55).
 
Explanation 2:

 22 is divisble by 11 (11 * 2 = 22),but it is not divisible by 5.

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    A = int(input())

    if A%55 == 0:
        print(1)
    else:
        print(0)

    return 0

if __name__ == '__main__':
    main()

330
1

**Q10. Which triangle?**

**Problem Description**

Write a program to input from user three numbers(A, B & C) representing side lengths of a triangle.

You have to print if the traingle is "equilateral", "scalene" or "isosceles".

**Problem Constraints**

1 <= A <= 100000

1 <= B <= 100000

1 <= C <= 100000

**Input Format**

One line containing three space separated integers A, B & C.

**Output Format**

One string either "equilateral", "scalene" or "isosceles".

**Example Input**

Input 1:

5 6 7

Input 2:

30 30 30

**Example Output**

Output 1:

scalene

Output 2:

equilateral

**Example Explanation**

Explanation 1:

Since all sides are different, hence it's a scalene triangle.

Explanation 2:

Since all sides are same, hence it's a equilateral triangle.

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    l = list(map(int, input().split()))

    A = l[0]
    B = l[1]
    C = l[2]

    if A == B and B == C:
        print('equilateral')
    elif A == B or B == C or C == A:
        print('isosceles')
    else:
        print('scalene')

    return 0

if __name__ == '__main__':
    main()

6 6 6
equilateral

**Q11. Summation Game**

**Problem Description**

Write a program to find sum all Natural numbers from 1 to N where you have to take N as input from user

**Problem Constraints**

1 <= N <= 1000

**Input Format**

A single line representing N

**Output Format**

A single integer showing sum of all Natural numbers from 1 to N

**Example Input**

Input 1:

5

Input 2:

10

**Example Output**

Output 1:

15

Output 2:

55

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N = int(input())

    print((N * (N+1))//2)

    return 0

if __name__ == '__main__':
    main()

11
66

**Q12. Even Game**

**Problem Description**

Write a program to print all even numbers from 1 to N where you have to take N as input from user. Strictly use while loop.

**Problem Constraints**

1 <= N <= 1000000

**Input Format**

A single line representing N


**Output Format**

All even numbers from 1 to N separated by spaces.


**Example Input**

Input 1:

5

Input 2:

10

**Example Output**

Output 1:

2 4 

Output 2:

2 4 6 8 10

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N = int(input())

    i = 1

    while N != 0:
        if i%2 == 0:
            print(i, end = ' ')
        i = i+1
        N = N-1

    return 0

if __name__ == '__main__':
    main()

10
2 4 6 8 10

**Q13. Odd Game**

**Problem Description**

Write a program to print all odd numbers from 1 to N where you have to take N as input from user.

**Problem Constraints**

1 <= N <= 1000000

**Input Format**

A single line representing N

**Output Format**

All odd numbers from 1 to N separated by spaces.

**Example Input**

Input 1:

5

Input 2:

10

**Example Output**

Output 1:

1 3 5 

Output 2:

1 3 5 7 9

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    N = int(input())

    for i in range(1, N+1):
        if i%2 == 1:
            print(i, end = ' ')

    return 0

if __name__ == '__main__':
    main()

10
1 3 5 7 9